/* Common Designs */
@import url(<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500;700&family=Work+Sans:wght@700&display=swap" rel="stylesheet">
);

body {
    font-family: 'Work Sans', sans-serif;

}

* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* --------------------------------------------------------------------                                    Header style -------------------------------------------------------------*/
header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 240px 45px 240px;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 60px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

/* Banner style */
.banner {
    display: grid;
    justify-content: center;
    margin-top: 116px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    text-align: center;
    margin-bottom: 35px;
}

.banner-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-bottom: 32px;
}

.explore {
    margin-bottom: 50px;
    width: 180px;
    height: 64px;
    margin-left: 620px;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* --------------------------------------------------------------------------------------                                     Main Style -------------------------------------------------------------------------------------*/
/* Features Section style */
.features {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    gap: 73px;
    align-items: center;
    margin-bottom: 130px;
}

.grid-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-title {
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.Quick {
    color: #727272;
    font-weight: 500;
}

.feature-title .orange-text {
    color: #FF900E;
    font-weight: 700;
}

.feature-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

.feature-btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* love & enjoy style */
.enjoy {
    display: flex;
    justify-content: center;
    gap: 146px;
    margin-bottom: 130px;

}

.enjoy-head {
    display: flex;
    gap: 21px;
    margin-bottom: 24px;
    margin-top: 50px;
}

.vl {
    width: 5px;
    height: 106px;
    background: #FF900E;
}

.enjoy-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.enjoy-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.enjoy-box {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.enjoy-box_title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.enjoy-box_info {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.enjoy-btn {
    width: 342px;
    height: 200px;
    margin-left: -92px;
    margin-top: -130px;

}

.year-btn {
    padding: 45px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
}

.year {
    font-weight: 700;
    font-size: 65px;
}

.btn-exp {
    font-weight: 500;
    font-size: 25px;
}

/* Facts Style */
.fact-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 500px;
    margin-bottom: 24px;

}

.fact-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-left: 500px;
    margin-bottom: 100px;
}

.fact-box {
    display: flex;
    /* justify-content: space-around; */
    gap: 124px;
    justify-content: center;
    margin-bottom: 180px;
}

.box {
    text-align: center;
    /* padding: 46px 36px 59px 36px; */
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    /* transform: rotate(90deg); */
}

.box-icon {
    margin-bottom: 10px;
    margin-top: 46px;
}

.box-no {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.box-info {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-top: 10px;
}

.box:hover {
    background-color: #FF900E;
    transform: rotate(45deg);
}

/* Sponsors style */
.sponsors {
    margin-bottom: 130px;
}

.sponsor-title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-logo {
    display: flex;
    justify-content: center;
    gap: 155px;

}

/* took help from google to make logo gray */
.sponsors-logo img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* --------------------------------------------------------------------------------------                                     Footer style -------------------------------------------------------------------------------------*/

.main-footer {
    background: rgba(255, 144, 14, 0.1);
}

.bonus {
    display: flex;
    justify-content: center;
    gap: 500px;
    padding-bottom: 150px;
}

.future {
    margin-left: 230px;
    margin-top: 130px;
    margin-bottom: 130px;
    /* margin-right: 885px; */
}

.fu-head {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.fu-desc {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    color: #131313;
}

.fo-icon {
    display: flex;
    margin-top: 32px;
    gap: 17px;
}

.subscribe {
    color: #131313;
    margin-right: 229px;
}

.box-footer {
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    background-color: white;
    opacity: 0.6;
    margin-bottom: 16px;
    margin-top: 31px;
    width: 500px;
    height: 150px;
    padding: 21px 158px 21px 21px;
    font-weight: 400;
    font-size: 18px;
}

.fo-sub {
    margin-top: 130px;
    font-weight: 700;
    font-size: 45px;
}

.button-fo {
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 20px 36px 20px 36px;
    border-radius: 8px;
    border: 0px;
    background: #FF900E;
}

/* Feedback style */
.feedback {
    display: flex;
    gap: 50px;
    align-items: center;
}

.rating {
    display: flex;
}

.fa-star:hover {
    color: gold;
}

.star-icon {
    font-size: 35px;
}

/* copyright style */
.copyright {
    padding-bottom: 100px;
}

.copyright-info {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}